.formation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    & .thp-logo {
        width: 15%;
        height: 15%;
        margin: 15px 15px;
    }
    & .titles {
        & h1 {
            text-align: center;
            font-size: 2rem;
            font-weight: 1000;
            margin: 10px 0 0 20px ;
            text-decoration: underline;
            text-underline-offset: 0.2rem;
        }
        & h2 {
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
            margin: 0 0 0 20px ;
        }
        & h3 {
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
        }
        & h4 {
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
        }
    }
    & .title {
        font-size: 1.4rem;
        font-weight: 800;
        margin : 20px 0 0 10px;
        text-align: center;
    }
    & .fullstack-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background : $grey;
        color: $primary ;
        width: 100%;
        margin: 35px 20px 0px 20px ;
        padding-bottom: 20px ;
        box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.8);
        
        & .fullstack-title {
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
            margin: 20px 0 20px 0;
            margin: 20px 15px 20px 15px;
            border-bottom: 2px solid $primary;
        }
        & ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            & li {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
        }
        & .trox-title {
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
            margin: 20px 0 20px 0;
        }
        & .trox-infos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 0 0 15px;
        } 
    }
    & .developpeur-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background : $grey;
        color: $primary ;
        width: 100%;
        margin: 20px 20px 0px 20px ;
        padding-bottom: 20px ;
        box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.8);
        & .developpeur-title {
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
            margin: 20px 15px 20px 15px;
            border-bottom: 2px solid $primary;
            }
        & ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            & li {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
        }
        & .soundspectrum-title {
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
            margin: 20px 0 20px 0;
        }
        & .soundspectrum-infos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 0 0 15px;
            }
    }
    
    & .stage-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background : $grey;
            color: $primary ;
            width: 100%;
            margin: 20px 20px 0px 20px ;
            padding-bottom: 20px;
            box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.8);
            
    & .stage-title {
                font-size: 1.2rem;
                font-weight: 600;
                text-align: center;
                margin: 20px 15px 20px 15px;
                border-bottom: 2px solid $primary;
        }
    }
        
    
}