.formation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  & .thp-logo {
    width: 15%;
    height: 15%;
    margin: 15px 15px;
  }
  & .titles {
    & h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 1000;
      margin: 10px 0 0 20px;
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
    & h2 {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      margin: 0 0 0 20px;
    }
    & h3 {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
    }
    & h4 {
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
  }
  & .title {
    font-size: 1.4rem;
    font-weight: 800;
    margin: 20px 0 0 10px;
    text-align: center;
  }
  & .fullstack-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $background;
    color: $primary;
    width: 100%;
    margin: 35px 20px 0px 20px;
    padding-bottom: 20px;
    border: 5px solid $primary;
    box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.8);

    & .fullstack-title {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      background: $primary;
      color: $secondary;
      background: $primary;
      margin-bottom: 10px;
      font-family: $font2;
      letter-spacing: 0.1rem;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      & li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 600;
      }
    }
    & .trox-title {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      background: $primary;
      color: $secondary;
      background: $primary;
      margin: 10px 0;
      font-family: $font2;
      letter-spacing: 0.1rem;
    }
    & .trox-infos {
      text-align: center;
      font-weight: 600;
    }
  }
  & .developpeur-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $background;
    color: $primary;
    width: 100%;
    margin: 20px 20px 0px 20px;
    padding-bottom: 20px;
    border: 5px solid $primary;
    box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & .developpeur-title {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      background: $primary;
      color: $secondary;
      background: $primary;
      margin-bottom: 10px;
      font-family: $font2;
      letter-spacing: 0.1rem;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      & li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 600;
      }
    }
    & .soundspectrum-title {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      background: $primary;
      color: $secondary;
      background: $primary;
      margin: 10px 0;
      font-family: $font2;
      letter-spacing: 0.1rem;
    }
    & .soundspectrum-infos {
      text-align: center;
      font-weight: 600;
    }
  }

  & .stage-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $background;
    color: $primary;
    width: 100%;
    margin: 20px 20px 0px 20px;
    padding-bottom: 20px;
    border: 5px solid $primary;
    box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & .stage-title {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      background: $primary;
      color: $secondary;
      background: $primary;
      margin-bottom: 10px;
      font-family: $font2;
      letter-spacing: 0.1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .formation-container {
    justify-content: center;
    margin-bottom: 50px;
    & .thp-logo {
      display: none;
    }
    & .titles {
      text-align: center;
      margin: 0 auto;
      & h1 {
        font-size: 1.8rem;
        margin: 10px 0 0 0;
      }
      & h2 {
        font-size: 1.5rem;
        margin: 10px 0 0 0;
      }
      & h3 {
        font-size: 1.2rem;
        margin: 10px 0 0 0;
      }
      & h4 {
        font-size: 1rem;
        margin: 0;
      }
    }
    & .title {
      text-align: center;
      font-size: 1rem;
      font-weight: 800;
      margin: 5px 0 0 0;
    }
    & .fullstack-container {
      margin: 0 15px;
      & .fullstack-title {
        font-size: 1.3rem;
        margin: 5px 30px 10px 30px;
      }
      & ul {
        justify-content: space-around;
        padding: 0 5px;
        & li {
          margin: 0 0 10px 0;
        }
      }
      & .trox-title {
        font-size: 1.3rem;
        margin: 5px 30px 10px 30px;
      }
      & .trox-infos {
        text-align: center;
        margin: 0 auto;
        font-size: 1rem;
      }
    }
    & .developpeur-container {
      margin: 20px 15px 0 15px;
      & .developpeur-title {
        font-size: 1.3rem;
        margin: 5px 30px 10px 30px;
      }
      & ul {
        justify-content: space-around;
        padding: 0 5px;
        & li {
          margin: 0 0 10px 0;
        }
      }
      & .soundspectrum-title {
        font-size: 1.3rem;
        margin: 5px 30px 10px 30px;
      }
      & .soundspectrum-infos {
        text-align: center;
        font-size: 1rem;
        margin: 0 auto;
      }
    }
    & .stage-container {
      margin: 20px 15px 0 15px;
      & .stage-title {
        font-size: 1.3rem;
        margin: 5px 30px 10px 30px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .formation-container {
    justify-content: center;
    margin-bottom: 50px;
    & .thp-logo {
      display: none;
      width: 30%;
      height: 30%;
      margin: 15px 15px;
    }
    & .titles {
      & h1 {
        font-size: 1.5rem;
        margin: 10px 0 0 20px;
      }
      & h2 {
        font-size: 1.2rem;
        margin: 0 0 0 20px;
      }
      & h3 {
        font-size: 1rem;
      }
      & h4 {
        font-size: 0.8rem;
      }
    }
    & .title {
      font-size: 1.2rem;
      font-weight: 800;
      margin: 20px 0 0 10px;
      text-align: center;
    }
    & .fullstack-container {
      & .fullstack-title {
        font-size: 1rem;
        margin: 20px 15px 20px 15px;
      }
      & ul {
        margin-bottom: 20px;
        & li {
          margin-left: 5px;
        }
      }
    }
    & .developpeur-container {
      & .developpeur-title {
        font-size: 1rem;
        margin: 20px 15px 20px 15px;
      }
      & ul {
        padding: 5px;
        & li {
          margin-left: 5px;
        }
      }
      & .soundspectrum-title {
        font-size: 1rem;
        margin: 20px 0 20px 0;
      }
    }
    & .stage-container {
      & .stage-title {
        font-size: 1rem;
        margin: 20px 15px 20px 15px;
      }
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .formation-container {
    justify-content: center;
    margin-bottom: 50px;
    & .thp-logo {
      display: none;
    }
    & .titles {
      margin: 0;
      & h1 {
        font-size: 1.5rem;
        margin: 10px 0 0 0px;
      }
      & h2 {
        font-size: 1.2rem;
        margin: 0 0 0 0px;
      }
      & h3 {
        font-size: 1rem;
        margin: 0;
      }
      & h4 {
        font-size: 0.8rem;
        margin: 0;
      }
    }
    & .title {
      font-size: 1.2rem;
      font-weight: 800;
      margin: 5px 0 0 0px;
      text-align: center;
      padding: 0;
      height: 10px;
    }
    & .fullstack-container {
      & .fullstack-title {
        font-size: 1rem;
        margin: 20px 15px 20px 15px;
      }
      & ul {
        margin-bottom: 20px;
        & li {
          margin-left: 5px;
        }
      }
    }
    & .developpeur-container {
      & .developpeur-title {
        font-size: 1rem;
        margin: 20px 15px 20px 15px;
      }
      & ul {
        padding: 5px;
        & li {
          margin-left: 5px;
        }
      }
      & .soundspectrum-title {
        font-size: 1rem;
        margin: 20px 0 20px 0;
      }
    }
    & .stage-container {
      & .stage-title {
        font-size: 1rem;
        margin: 20px 15px 20px 15px;
      }
    }
  }
}
