.main-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 3rem 0 3rem 10rem;
  & .sociaux {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    & a {
      scale: 0.9;
      color: $primary;
      transition: all 0.3s ease-in-out;
    }
    & a:hover {
      scale: 1.1;
      color: $secondary;
      background-color: $primary;
      border-radius: 0.5rem;
    }
  }
  & .title {
    align-items: left;
    padding-bottom: 0.2rem;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    & h1 {
      font-size: 4rem;
      font-weight: 1000;
    }
    & h2 {
      font-size: 3rem;
      font-weight: 600;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}
.formation-popup {
  z-index: 100;
  position: fixed;
  top: 3%;
  left: 50%;
  width: 50%;
  height: 94%;
  border: 5px solid #000000;
  background: $background;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
  transform: translate(-200%, 0);
  transition: all 1.2s ease-in-out;
  color: $primary;
  &.active {
    transform: translate(-100%, 0);
  }
}
.softskill-popup {
  z-index: 100;
  position: fixed;
  top: 3%;
  left: 50%;
  width: 50%;
  height: 94%;
  border: 5px solid #000000;
  background: $background;
  transform: translate(100%, 0);
  transition: all 1.2s ease-in-out;
  color: $primary;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
  &.active {
    transform: translate(0, 0);
  }
}
