.nav-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20rem 0 0 ;
    height: 2rem;
    border-bottom: 5px solid #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    & p {
        font-size: 1.1rem;
        font-weight: 950;
        transition: all 0.3s ease-in-out;
    }
    & p:hover {
        color : $secondary;
        background-color: $primary;
        border-radius: 0.5rem ;
        padding: 0.5rem;
        cursor: pointer;
    }
    & .formation {
        margin-right: 15rem;
    }
}