.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50vh;
    margin: 20px auto;
    padding: 0;
    overflow: hidden;
    & .arrow {
        margin: 0 auto;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
            background: $primary;
            color: $secondary;
            transition: all 0.8s ease-in-out;
        }
    }
    & .left:hover {
        transform: rotate(360deg);
    }
    & .right:hover {
        transform: rotate(-360deg);
    }
}  