.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 55vh;
  margin: 20px auto;
  padding: 0;
  animation: viewwidthAnimation 1s cubic-bezier(0.69, 1, 0.8, 0.7) 1s forwards;
  @keyframes viewwidthAnimation {
    0% {
      width: 0vw;
      height: 0vh;
      opacity: 0;
      border-radius: 50%;
    }
    75% {
      border-radius: 50%;
    }
    100% {
      width: 100vw;
      height: 55vh;
      opacity: 1;
      border-radius: 0%;
    }
  }
  & .arrow {
    margin: 0 auto;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      background: $primary;
      color: $secondary;
      transition: all 0.8s ease-in-out;
    }
  }
  & .left:hover {
    transform: rotate(360deg);
  }
  & .right:hover {
    transform: rotate(-360deg);
  }
}
