.softskill-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  & .photo-benjamin {
    width: 15%;
    height: 15%;
    margin: 15px 15px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
  }
  & .titles {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & h1 {
      width: 100%;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 1000;
      text-align: center;
      margin: 10px 0 10px 0;
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
    & h2 {
      width: 45%;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: left;
    }
    & h3 {
      width: 50%;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: right;
    }
    & .perso {
      width: fit-content;
      text-align: center;
      margin: 0 0 10px 0;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  & .hardskills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $background;
    color: $primary;
    width: 100%;
    margin: 20px 20px 0px 20px;
    padding-bottom: 20px;
    border: 5px solid $primary;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & .hardskills-title {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      background: $primary;
      color: $secondary;
      background: $primary;
      margin-bottom: 10px;
      font-family: $font2;
      letter-spacing: 0.1rem;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      & li {
        width: 30%;
        margin: 10px 0;
        font-size: 1rem;
        list-style: none;
        text-align: center;
        font-weight: 600;
      }
    }
  }
  & .softskills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $background;
    color: $primary;
    width: 100%;
    margin: 35px 20px 0px 20px;
    padding-bottom: 20px;
    border: 5px solid $primary;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & .sofskills-title {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      background: $primary;
      color: $secondary;
      background: $primary;
      margin-bottom: 10px;
      font-family: $font2;
      letter-spacing: 0.1rem;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      & li {
        width: 30%;
        margin: 10px 0;
        font-size: 1rem;
        text-align: center;
        list-style: none;
        font-weight: 600;
      }
    }
  }
  & .langue {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $background;
    color: $primary;
    width: 45%;
    margin: 35px 20px 0px 20px;
    padding-bottom: 20px;
    border: 5px solid $primary;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & .langue-title {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      background: $primary;
      color: $secondary;
      background: $primary;
      margin-bottom: 10px;
      font-family: $font2;
      letter-spacing: 0.1rem;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      & li {
        width: 30%;
        margin: 10px 0;
        font-size: 1rem;
        text-align: center;
        list-style: none;
        text-align: center;
        font-weight: 400;
        & h4 {
          margin-bottom: 5px;
          font-weight: 800;
        }
      }
    }
  }
  & .loisirs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $background;
    color: $primary;
    width: 45%;
    margin: 35px 20px 0px 20px;
    padding-bottom: 20px;
    border: 5px solid $primary;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & .loisirs-title {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      background: $primary;
      color: $secondary;
      background: $primary;
      margin-bottom: 10px;
      font-family: $font2;
      letter-spacing: 0.1rem;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      & li {
        width: 30%;
        margin: 10px 0;
        font-size: 1rem;
        text-align: center;
        list-style: none;
        font-weight: 600;
      }
    }
  }
}

// responsive pour 768px
@media screen and (max-width: 768px) {
  .softskill-container {
    justify-content: center;
    margin-bottom: 50px;
    & .photo-benjamin {
      width: 25%;
      margin: 10px auto;
    }
    & .titles {
      width: 100%;
      & h1 {
        font-size: 1.5rem;
        margin: 10px 0 0 20px;
      }
      & h2 {
        width: 40%;
        font-size: 1rem;
        margin: 5px 0 0 20px;
        text-align-last: left;
      }
      & h3 {
        width: 40%;
        font-size: 1rem;
        margin: 5px 0 0 20px;
        text-align: right;
      }
      & .perso {
        width: 100%;
        text-align: center;
        margin: 5px 15px 10px 15px;
        font-size: 0.9rem;
      }
    }
    .hardskills {
      margin: 0 15px;
      & h5 {
        font-size: 1.2rem;
        margin: 5px 30px 10px 30px;
      }
      & ul {
        justify-content: space-around;
        padding: 0 5px;
        & li {
          margin: 0 0 10px 0;
        }
      }
    }
    & .softskills {
      width: 100%;
      margin: 20px 15px 0 15px;
      & h5 {
        font-size: 1.2rem;
        margin: 5px 30px 10px 30px;
      }
      & ul {
        justify-content: space-around;
        padding: 0 5px;
        & li {
          margin: 0 0 10px 0;
        }
      }
    }
    & .langue {
      width: 100%;
      margin: 20px 15px 0 15px;
      & h5 {
        font-size: 1.2rem;
        margin: 5px 30px 10px 30px;
      }
      & ul {
        justify-content: center;
        padding: 0 5px;
        & li {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          & h4 {
            text-align: center;
            font-size: 1.2rem;
            width: 50%;
          }
          & p {
            width: 50%;
            text-align: center;
            font-size: 1rem;
          }
        }
      }
    }
    & .loisirs {
      width: 100%;
      margin: 20px 15px 0 15px;
      & h5 {
        font-size: 1.2rem;
        margin: 5px 30px 10px 30px;
      }
      & ul {
        justify-content: space-around;
        padding: 0 5px;
        & li {
          margin: 0 0 10px 0;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .softskill-container {
    width: 100%;
    padding-bottom: 50px;
    & .photo-benjamin {
      width: 25%;
      margin: 10px auto;
    }
    & .titles {
      width: 100%;
      margin: 0 auto;
      & h1 {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin: 10px 0 10px 0;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
      & h2 {
        width: 45%;
        margin-left: 40px;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
      }
      & h3 {
        width: 45%;
        font-size: 1rem;
        font-weight: 600;
        text-align: right;
      }
      & .perso {
        width: fit-content;
        text-align: center;
        margin: 5px 15px 10px 15px;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    & .langue {
      width: 100%;
    }
    & .loisirs {
      width: 100%;
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .softskill-container {
    & .titles {
      & h1 {
        font-size: 1.5rem;
      }
      & h2 {
        width: 45%;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
      }
      & h3 {
        width: 45%;
        font-size: 1rem;
        font-weight: 600;
        text-align: right;
      }
      & .perso {
        width: fit-content;
        height: 120px;
        text-align: center;
        margin: 5px 5px 10px 5px;
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
    & .hardskills {
      margin: 0 20px;
      & h3 {
        font-size: 0.8rem;
      }
      & ul {
        margin: 0;
        & li {
          margin: 0;
          font-size: 1rem;
        }
      }
    }
    & .softskills {
      margin: 20px 20px 0 20px;
      & h3 {
        font-size: 0.8rem;
      }
      & ul {
        margin: 0;
        & li {
          justify-content: space-between;
          margin: 0;
          font-size: 1rem;
        }
      }
    }
    & .langue {
      width: 100%;
      margin: 20px 20px 0 20px;
      & h3 {
        font-size: 0.8rem;
      }
      & ul {
        margin: 0;
        & li {
          justify-content: space-between;
          margin: 0;
          font-size: 1rem;
        }
      }
    }
    & .loisirs {
      width: 100%;
      margin: 20px 20px 0 20px;
      & h3 {
        font-size: 0.8rem;
      }
      & ul {
        margin: 0;
        & li {
          justify-content: space-between;
          margin: 0;
          font-size: 1rem;
        }
      }
    }
  }
}
