.softskill-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  & .photo-benjamin {
    width: 15%;
    height: 15%;
    margin: 15px 15px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
  }
  & .titles {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & h1 {
      width: 100%;
      font-size: 2rem;
      font-weight: 1000;
      text-align: center;
      margin: 10px 0 10px 0;
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
    & h2 {
      width: 45%;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: left;
    }
    & h3 {
      width: 50%;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: right;
    }
    & .perso {
      width: fit-content;
      text-align: center;
      margin: 0 0 10px 0;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  & .hardskills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $grey;
    color: $background;
    width: 100%;
    margin: 20px 20px 0px 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & h3 {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.1rem;
      margin: 20px 15px 20px 15px;
      border-bottom: 2px solid $background;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      & li {
        width: 30%;
        margin: 10px 0;
        font-size: 1rem;
        text-align: center;
        list-style: none;
      }
    }
  }
  & .softskills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $grey;
    color: $background;
    width: 100%;
    margin: 35px 20px 0px 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & h3 {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.1rem;
      margin: 20px 15px 20px 15px;
      border-bottom: 2px solid $background;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      & li {
        width: 30%;
        margin: 10px 0;
        font-size: 1rem;
        text-align: center;
        list-style: none;
      }
    }
  }
  & .langue {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $grey;
    color: $background;
    width: 45%;
    margin: 35px 20px 0px 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & h3 {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.1rem;
      margin: 20px 15px 20px 15px;
      border-bottom: 2px solid $background;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      & li {
        width: 30%;
        margin: 10px 0;
        font-size: 1rem;
        text-align: center;
        list-style: none;
        & h4 {
          margin-bottom: 5px;
        }
      }
    }
  }
  & .loisirs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $grey;
    color: $background;
    width: 45%;
    margin: 35px 20px 0px 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    & h3 {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.1rem;
      margin: 20px 15px 20px 15px;
      border-bottom: 2px solid $background;
    }
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      & li {
        width: 30%;
        margin: 10px 0;
        font-size: 1rem;
        text-align: center;
        list-style: none;
      }
    }
  }
}
// responsive design
// min width 320px and max width 480px
@media screen and (min-width: 320px) and (max-width: 480px) {
  .softskill-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    & .photo-benjamin {
      width: 50%;
      margin: 0 auto;
      align-items: center;
      margin-top: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    }
    & .titles {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & h1 {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 1000;
        text-align: center;
        margin: 10px 0 10px 0;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
      & h2 {
        width: 45%;
        font-size: 1rem;
        text-align: left;
        font-weight: 600;
        margin-left: 20px;
      }
      & h3 {
        width: 45%;
        font-size: 1rem;
        font-weight: 600;
        text-align: right;
      }
      & .perso {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: 10px;
      }
    }
    & .hardskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 10px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .softskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .langue {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
          & h4 {
            margin-bottom: 5px;
          }
        }
      }
    }
    & .loisirs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 10px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .softskill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    & .photo-benjamin {
      width: 25%;
      margin: 0 auto;
      align-items: center;
      margin-top: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    }
    & .titles {
      width: 60%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & h1 {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 1000;
        text-align: center;
        margin: 10px 0 10px 0;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
      & h2 {
        width: 45%;
        font-size: 1.2rem;
        text-align: left;
        font-weight: 600;
        margin-left: 20px;
      }
      & h3 {
        width: 45%;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: right;
      }
      & .perso {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 10px;
      }
    }
    & .hardskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 10px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .softskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .langue {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
          & h4 {
            margin-bottom: 5px;
          }
        }
      }
    }
    & .loisirs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 10px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .softskill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    & .photo-benjamin {
      width: 25%;
      margin: 0 auto;
      align-items: center;
      margin-top: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    }
    & .titles {
      width: 60%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & h1 {
        width: 100%;
        font-size: 2rem;
        font-weight: 1000;
        text-align: center;
        margin: 10px 0 10px 0;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
      & h2 {
        width: 45%;
        font-size: 1.5rem;
        text-align: left;
        font-weight: 600;
        margin-left: 20px;
      }
      & h3 {
        width: 45%;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: right;
      }
      & .perso {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 10px;
      }
    }
    & .hardskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 10px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .softskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .langue {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
          & h4 {
            margin-bottom: 5px;
          }
        }
      }
    }
    & .loisirs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 10px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .softskill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    & .photo-benjamin {
      width: 15%;
      height: 15%;
      margin: 15px 15px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    }
    & .titles {
      width: 80%;
      height: 10%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & h1 {
        width: 100%;
        font-size: 2rem;
        font-weight: 1000;
        text-align: center;
        margin: 10px 0 10px 0;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
      & h2 {
        width: 45%;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: left;
      }
      & h3 {
        width: 50%;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: right;
      }
      & .perso {
        width: fit-content;
        text-align: center;
        margin: 0 0 10px 0;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
    & .hardskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .softskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 35px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .langue {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 45%;
      margin: 35px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
          & h4 {
            margin-bottom: 5px;
          }
        }
      }
    }
    & .loisirs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 45%;
      margin: 35px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .softskill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    & .photo-benjamin {
      width: 20%;
      margin: 15px 15px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    }
    & .titles {
      width: 70%;
      height: 10%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & h1 {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 1000;
        text-align: center;
        margin: 10px 0 0px 0;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
      & h2 {
        width: 45%;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
      }
      & h3 {
        width: 50%;
        font-size: 1rem;
        font-weight: 600;
        text-align: right;
      }
      & .perso {
        width: fit-content;
        text-align: center;
        margin: 0 0 10px 0;
        font-size: 1rem;
        font-weight: 600;
      }
    }
    & .hardskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 10px 20px 0px 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 15px 15px 5px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 20%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .softskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 35px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 15px 15px 5px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .langue {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 40%;
      margin: 35px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
          & h4 {
            margin-bottom: 5px;
          }
        }
      }
    }
    & .loisirs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 45%;
      margin: 35px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .softskill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    & .photo-benjamin {
      width: 15%;
      height: 15%;
      margin: 15px 15px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
    }
    & .titles {
      width: 80%;
      height: 10%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & h1 {
        width: 100%;
        font-size: 2rem;
        font-weight: 1000;
        text-align: center;
        margin: 10px 0 10px 0;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
      & h2 {
        width: 45%;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: left;
      }
      & h3 {
        width: 50%;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: right;
      }
      & .perso {
        width: fit-content;
        text-align: center;
        margin: 0 0 10px 0;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
    & .hardskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 20px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .softskills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 100%;
      margin: 35px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
    & .langue {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 45%;
      margin: 35px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
          & h4 {
            margin-bottom: 5px;
          }
        }
      }
    }
    & .loisirs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: $grey;
      color: $background;
      width: 45%;
      margin: 35px 20px 0px 20px;
      padding-bottom: 20px;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.8);
      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1rem;
        margin: 20px 15px 20px 15px;
        border-bottom: 2px solid $background;
      }
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        & li {
          width: 30%;
          margin: 10px 0;
          font-size: 1rem;
          text-align: center;
          list-style: none;
        }
      }
    }
  }
}
