@font-face {
    font-family: "worksans", sans-serif;
    src: url("../assets/fonts/WorkSans-Medium.ttf");
}

$font: "worksans", sans-serif;

$background :#FFFFF5;
$grey :linear-gradient(to top, #000000, #434343);
$project1background :linear-gradient(to right, #bdc3c7, #2c3e50);
$primary :#000000;
$secondary :#58dbff;
$tertiary : #50ffdfb4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: $font;
    background-color: $background;
    color: $primary;
}




