@font-face {
    font-family: "worksans", sans-serif;
    src: url("../assets/fonts/WorkSans-Medium.ttf");
}

@font-face {
    font-family: "alumni";
    src: url("../assets/fonts/AlumniSans-VariableFont_wght.ttf");
}

$font: "worksans", sans-serif;
$font2: "alumni", sans-serif;

$background :#FFFFF5;
$grey :linear-gradient(to top, #000000, #434343);
$project1background: #000000;
$primary :#000000;
$secondary :#58dbff;
$tertiary : #50ffdfb4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: $font;
    background-color: $background;
    color: $primary;
}




