@import "./settings";
@import "./components/nav";
@import "./components/main";
@import "./components/projects";
@import "./components/formation";
@import "./components/softskill";
@import "./components/footer";
@import "./components/presentation";
@import "./components/project";